{% load static %}

<script src="{% static 'mokshitsite/assets/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/vendor/waypoints/noframework.waypoints.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'mokshitsite/assets/js/animate.js'%}"></script>
  <script src="{% static 'mokshitsite/assets/js/main.js'%}"></script>
  <script src="{% static 'common/plugins/toastr/toastr.min.js' %}"></script>
