{% load static %}

<footer id="footer">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <br />
            <h4>Join Our Newsletter</h4>
            <p>
              For any new update and information
            </p>
            <form action="#" method="post">
              <input type="email" name="email" /><input type="submit" value="Subscribe" />
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <br />
            <h3>Mokshit Infotech</h3>
            <p>
              {{contact.address|slice:':17'}}, <br />
              {{contact.address|slice:'18:'}},<br />
              {{contact.landmark}},<br />
              {{contact.city}}, {{contact.state}} {{contact.zip}}<br /><br />
              <strong>Mobile No:</strong><a href="tel:+91 9979444229" style="color: #E8531E;"> {{contact.phone_no}}</a><br>
              <strong>Email:</strong>
              <a href="mailto:{{contact.email}}" style="color: #E8531E">
                {{contact.email}}</a><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <br />
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Terms of service</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <br />
            <h4>Our Services</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">.Net Development </a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Backend Development</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Frontend Development</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Data Science & ML</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">UX/UI Design</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <br />
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="{{contact.twitter_link}}" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="{{contact.fb_link}}" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="{{contact.insta_link}}" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="{{contact.skype_link}}" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="{{contact.linkedin_link}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Mokshit Infotech</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>