{% load static %}

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="#">.Net Developer</a></h4>
            <p class="description">
              NET Software Developer is a software developer who specialises in building software for Microsoft's
              Windows platform. They work with programming languages compatible with Microsoft's . NET framework,
              including <strong>VB.NET, C# (C sharp) and F# (F sharp)</strong>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="#">Backend Developer</a></h4>
            <p class="description">
              A back-end developer builds and maintains the technology that powers those components which, together,
              enable the user-facing side of the website to even exist in the first place. Backend Frmaework including
              <strong>Django, Flask and RestFramework</strong>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="#">Frontend Developer</a></h4>
            <p class="description">
              A front-end developer architects and develops websites and applications using web technologies HTML,
              CSS, DOM, and JavaScript also known as client-side development and Frontend Library is <strong>React
              </strong>and Framework including Angular & VUE
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="#">Data Science & ML</a></h4>
            <p class="description">
              Data science is the domain of study that deals with vast volumes of data using modern tools and
              techniques to find unseen patterns, derive meaningful information,make business decisions.used complex
              machine learning algorithms to build predictive models.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>