{% load static %}

<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>MOKSHIT INFOTECH</span></h1>
      <h2>
        If you have great idea for <strong>Development</strong>, we can change it to <strong>Reality.</strong>
      </h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#contact" class="btn-get-started1 scrollto">Contact Us</a>
      </div>
      <div>
        <!-- <img src="./assets/img/company.png' %}" width="350px"> -->
      </div>
    </div>
  </section>