{% load static %}

<section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <h3>Check Our <span>Services</span></h3>
        <!-- <p>
            Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
            adipisci expedita at voluptas atque vitae autem.
          </p> -->
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="#">Software Development</a></h4>
            <p>Software development refers to a set of computer science activities dedicated to the process of
              creating, designing, deploying and supporting software.Software itself is the set of instructions or
              programs
              that tell a computer what to do. It is independent of hardware and makes computers programmable. There
              are three basic types System software, Programming software and Application software.
              These roles interact and overlap, and the dynamics between them vary greatly across development
              departments and communities.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
          data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="#">Web Development</a></h4>
            <p>Web development is the building and maintenance of websites; it’s the work that happens behind the
              scenes to make a website look great, work fast and perform well with a seamless user experience.
              Web developers or ‘devs’, do this by using a variety of coding languages. The languages they use depends
              on the types of tasks they are preforming and the platforms on which they are working.
              The field of web development is generally broken down into front-end (the user-facing side) and back-end
              (the server side). Let’s delve into the details.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
          data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="#">Data Analysis</a></h4>
            <p>Data analysis is defined as a process of cleaning, transforming, and modeling data to discover useful
              information for business decision-making. The purpose of Data Analysis is to extract useful information
              from data and taking the decision based upon the data analysis.A simple example of Data analysis is
              whenever we take any decision in our day-to-day life is by thinking about what happened last time or
              what
              will happen by choosing that particular decision. This is nothing but analyzing our past or future and
              making decisions based on it. For that, we gather memories of our past or dreams of our future.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="#">UX/UI Design</a></h4>
            <p>UI design and UX design are two of the most often confused and conflated terms in web and app design.
              And understandably so. They’re usually placed together in a single term, UI/UX design, and viewed from
              the surface they seem to be describing the same thing. It’s often hard to find solid descriptions of the
              two that don’t descend too far into jargon. But fear not! UI design stands for “user interface.” refers
              to the aesthetic
              elements by which people interact with a product, such as buttons, icons, menu bars, typography, colors,
              and moreand “UX” stands for “user experience.”refers to the experience a user has when interacting with
              a product.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="#">Creative Design</a></h4>
            <p>Creative design involves using computer-generated imagery and digital animation to visualise a product.
              It aims to produce unique and memorable designs that stand out so that customers may easily identify a
              brand or product. Creative design had become increasingly important in the modern world, where each day
              numerous products are launched into the market. In this article, we discuss what creative design is, who
              creative designers are, what they do and the skills required to become one.Creative designers may
              possess a number of skills to advance in this fieldIf you are interested in becoming a creative
              designer, consider developing these skills:
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="#">Fully Responsive</a></h4>
            <p>Responsive design is an approach to web page creation that makes use of flexible layouts, flexible
              images and cascading style sheet media queries. The goal of responsive design is to build web pages that
              detect the visitor’s screen size and orientation and change the layout accordingly.Media queries, a
              feature of cascading style sheets (CSS), allow the developer to specify when a certain style takes
              effect. With CSS2, for example, a media query will serve printer-friendly style sheets if requested.
              CSS3 has expanded query capabilities that allow style sheets to be targeted to a device’s display and
              serve a desktop, tablet or smartphone style sheet depending on the query response.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>