{% comment %} {% load static %}


<style>
    .leaveform{
      padding:4.5rem;
    }
    .open-button {
      margin-right: 26rem;
      background-color: orange;
      color: white;
    }
    .form-popup {
      display: none;
      position: fixed;
      width: 600px;
      top: 40px;
      left: calc(55% - 300px);
      bottom: 40px;
      z-index: 100;
      backdrop-filter: blur(7px);
    }

    /* Add styles to the form container */
    .form-container {
      max-width: 100em;
      padding: 10px;
      background-color: white;
    }

    /* Full-width input fields */
    .form-container input[type="text"],
    .form-container input[type="password"] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    /* When the inputs get focus, do something */
    .form-container input[type="text"]:focus,
    .form-container input[type="password"]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: orange;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    .btns {
      display: flex;
    }
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
      opacity: 1;
    }
    .container-fluid {
      width: 100em;
    }
    .btn-primary {
      backgroundcolor: orange;
    }
    .content {
      padding-bottom: 1rem;
      text-align: center;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  </style> {% endcomment %}