{% extends 'common/body/body.html' %} {% load static %} {% block body %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Leave Records</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Your Leaves Application</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-tools mr-5 ">
                <div class="input-group-append">
                  <button  type="button" class="btn btn-warning pt-0 pb-0 " data-toggle="modal" data-target="#modal-default">
                    Apply for Leave
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Leave-Type</th>
                    <th>Start-Date</th>
                    <th>End-Date</th>
                    <th>Description</th>
                    <th>Added</th>
                    <th>Remarks</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for leave in leaves|dictsortreversed:'startdate' %}
                  <tr>
                    <td>{{leave.leave_type}}</td>
                    <td>{{leave.startdate|date:'d-M-Y'}}</td>
                    <td>{{leave.enddate|date:'d-M-Y'}}</td>
                    <td>{{leave.description}}</td>
                    <td>{{leave.created_at|date:'d-M-Y'}}</td>
                    <td>{{leave.remarks}}</td>
                    <td>
                      {% if leave.leave_status == 'pending' and leave.startdate < today %}
                      <span class="button text-info"> Expired </span>

                      {% elif leave.leave_status == 'accept' %}
                      <span class="button text-success"> Accepted </span>

                      {% elif leave.leave_status == 'reject' %}
                      <span class="button text-danger"> Rejected </span>

                      {% else %}
                      <span class="button text-warning"> Pending </span>

                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New Leave Application</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <form method="post" action="{% url 'leave_application' %}">
            {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="inputState">Leave Type</label>
              <select  name="leave_type" id="inputState" class="form-control" required>
                <option selected disabled value="">Choose...</option>
                <option >Sick</option>
                <option >Casual</option>
                <option >Emergency</option>
                <option >Family Issue</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputAddress">Description</label>
              <input name="description" type="text" class="form-control" id="inputAddress" placeholder="Reason for Leave" required />
            </div>
            <div class="row">
              <div class="col">
                <label for="start_date">Start-Date</label>
                <input type="date" name="start_date" class="form-control" />
              </div>
              <div class="col">
                <label for="end-date">End-Date</label>
                <input type="date" name="end_date" class="form-control" />
              </div>
            </div>
            
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Apply for Leave</button>
            </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </section>
</div>
{% endblock body %}
