{% load static %}

<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Team Members</h3>
      <div class="card-tools">
        <span class="badge badge-danger">{{team_members.count}} Members</span>
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Left col -->
          {% for auser in team_members %}
          <div class="col-md-3">
            <!-- MAP & BOX PANE -->
            
            <div class=" mt-1">
              <img style="margin-left:1%;margin-right:1%;" class="profile-user-img img-circle " src="{{auser.avatar.url}}" alt="User profile picture">
              <a class="users-list-name text-center" href="{% url 'user_profile' auser.id %}?tab=profile">{% if auser.first_name %}{{auser.first_name}}{% else %}{{auser.email}}{% endif %}</a>
              <span class="users-list-date text-center">{{auser.role}}</span>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.card-body -->
    
    <!-- /.card-footer -->
  </div>

  {% comment %} <div class="card ">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Your Team</h3>
      <div class="card-tools">
        <span class="badge badge-danger">{{team_members.count}} Members</span>
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <ul class="users-list clearfix">
        {% for auser in team_members %}
        <li >
          <img src="{{auser.avatar.url}}"  alt="{{auser.first_name}}">
          <a class="users-list-name" href="{% url 'user_profile' auser.id %}?tab=profile">{% if auser.get_full_name %}{{auser.get_full_name}}{% else %}{{auser.email}}{% endif %}</a>
          <span class="users-list-date">{{auser.joining_date|date:'d M Y'}}</span>
        </li>

        {% endfor %}
        
      </ul>
      <!-- /.users-list -->
    </div>
    <!-- /.card-body -->
    
    <!-- /.card-footer -->
  </div> {% endcomment %}
</div>